<%- include('../../../views/partials/header')%>
<body>
  <%- include('../../../views/partials/navbar')%>
  <div class="container">
    <hr>
    <div class="card">
      <div class="card-header">
        <h2>Cadastro de categorias</h2>
      </div>
      <div class="card-body">
        <form action="/categories/save" method="POST">
          <input type="text" name="title" placeholder="Digite o título" class="form-control"><br>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>

</body>
<%- include('../../../views/partials/footer')%>