<%- include('../../../views/partials/header')%>
<body>
  <%- include('../../../views/partials/navbar')%>
<div class="container">
  <hr>
  <div class="card mt-5">
    <div class="card-header">
      <h3>Registro</h3>
      
    </div>
    <div class="card-body">
      <form action="/users/create" method="POST">
        <label>Nome de usuário:</label>
        <input type="text" name="name" class="form-control" placeholder="Digite seu nome" maxlength="15"><br>
        <label>Email:</label>
        <input type="email" class="form-control" name="email" placeholder="Digite seu email"><br>
        <label>Senha:</label>
        <input type="password" name="password" class="form-control" placeholder="Digite uma senha forte"><br>
        <button type="submit" class="btn btn-primary" style="width: 100%">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
</body>
<%- include('../../../views/partials/footer')%>
